<section class="vbox">
	<section class="w-f scrollable">
		<div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
			<!-- nav -->
			<nav class="nav-primary hidden-xs">
				<ul class="nav">
	 
					@{
						var identity = (System.Security.Claims.ClaimsIdentity) User.Identity;
						string roleName = identity.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
						if (roleName == "Administrator")
						{
							<li id="blogLi" class="menuitem">
								<a href="#">
									<i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت اطلاعات پایه ای</span>
								</a>
								<ul class="nav lt">
									<li>
										<a href="/users">
											<i class="fa fa-angle-left"></i><span>مدیریت کاربران</span>
										</a>
									</li>

									<li>
										<a href="/companies">
											<i class="fa fa-angle-left"></i><span>مدیریت شرکت های پیمانکار</span>
										</a>
									</li>
									<li>
										<a href="/projects">
											<i class="fa fa-angle-left"></i><span>مدیریت پروژه ها</span>
										</a>
									</li>

									<li>
										<a href="/operations">
											<i class="fa fa-angle-left"></i><span>مدیریت عملیات ها</span>
										</a>
									</li>

								</ul>
							</li>
							<li class="menuitem"><a href="/hseplans/list"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>HSE Plans</span></a></li>
						
							<li id="blogLi" class="menuitem">
								<a href="#">
									<i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>منابع و پشتیبانی</span>
								</a>
								<ul class="nav lt">
							
									<li>
										<a href="/users">
											<i class="fa fa-angle-left"></i><span>نیروی انسانی</span>
										</a>
									</li>

									<li>
										<a href="/reports/index/97726369-F623-4FD7-89BD-E3D20A2F4814">
											<i class="fa fa-angle-left"></i><span>تجهیزات و ماشین آلات</span>
										</a>
									</li>
									 
								</ul>
							</li>
							
							<li class="menuitem"><a href="/anomalies"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت anomaly</span></a></li>
							<li class="menuitem"><a href="/ContractRquirments"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت قراردادها</span></a></li>
							<li class="menuitem"><a href="/Accidents"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مشاهده گزارشات حوادث</span></a></li>

							<li id="blogLi" class="menuitem">
								<a href="#">
									<i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مشاهده گزارشات دوره ای</span>
								</a>
								<ul class="nav lt">
									<li>
										<a href="/reports/index/4e98407d-3c79-4824-8f15-df0a185ccb5b">
											<i class="fa fa-angle-left"></i><span>مشاهده گزارش روزانه</span>
										</a>
									</li>

									<li>
										<a href="/reports/index/97726369-F623-4FD7-89BD-E3D20A2F4814">
											<i class="fa fa-angle-left"></i><span>مشاهده گزارش هفتگی</span>
										</a>
									</li>

									<li>
										<a href="/reports/index/0fe17770-6878-45e2-af7e-a515627ae9c6">
											<i class="fa fa-angle-left"></i><span>مشاهده گزارش ماهانه</span>
										</a>
									</li>

								</ul>
							</li>

							<li id="blogLi" class="menuitem">
								<a href="#">
									<i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت محتوای WBS HSE&PD</span>
								</a>
								<ul class="nav lt">
									<li>
										<a href="/WbsRequirments">
											<i class="fa fa-angle-left"></i><span>مدیریت الزامات</span>
										</a>
									</li>

									<li>
										<a href="/WbsUserTypes">
											<i class="fa fa-angle-left"></i><span>مدیریت ساختار شکست</span>
										</a>
									</li>

									<li>
										<a href="/WbsDocuments">
											<i class="fa fa-angle-left"></i><span>مدیریت مدارک مورد نیاز</span>
										</a>
									</li>

								</ul>
							</li>
						}

						if (roleName == "supervisor")
						{
							<li class="menuitem"><a href="/hseplans/ListSupervisor"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>HSE plan</span></a></li>
							<li class="menuitem"><a href="/anomalies"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت anomaly</span></a></li>
							<li class="menuitem"><a href="/UserStages/CompanyList"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>ارزیابی ریسک</span></a></li>
							<li class="menuitem"><a href="/Accidents"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مشاهده گزارشات حوادث</span></a></li>

							<li id="blogLi" class="menuitem">
								<a href="#">
									<i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مشاهده گزارشات دوره ای</span>
								</a>
								<ul class="nav lt">
									<li>
										<a href="/reports/index/4e98407d-3c79-4824-8f15-df0a185ccb5b">
											<i class="fa fa-angle-left"></i><span>مشاهده گزارش روزانه</span>
										</a>
									</li>

									<li>
										<a href="/reports/index/97726369-F623-4FD7-89BD-E3D20A2F4814">
											<i class="fa fa-angle-left"></i><span>مشاهده گزارش هفتگی</span>
										</a>
									</li>

									<li>
										<a href="/reports/index/0fe17770-6878-45e2-af7e-a515627ae9c6">
											<i class="fa fa-angle-left"></i><span>مشاهده گزارش ماهانه</span>
										</a>
									</li>

								</ul>
							</li>
							}

							if (roleName == "company")
							{
									<li class="menuitem"><a href="/hseplans/IndexCompany"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>HSE Plan</span></a></li>


								<li id="blogLi" class="menuitem">
									<a href="#">
										<i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مفاد پیمان</span>
									</a>
									<ul class="nav lt">
										<li>
											<a href="/companies/DownloadContact">
												<i class="fa fa-angle-left"></i><span>مفاد پیمان</span>
											</a>
										</li>

										<li>
											<a href="/CompanyStatusReports/List">
												<i class="fa fa-angle-left"></i><span>صورت وضعیت HSE</span>
											</a>
										</li>

										 

									</ul>
								</li>
								<li class="menuitem"><a href="/UserRisks/Form"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>ارزیابی ریسک</span></a></li>

									<li class="menuitem"><a href="/anomalies"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت anomaly</span></a></li>
									

								<li id="blogLi" class="menuitem">
									<a href="#">
										<i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>ثبت گزارشات دوره ای</span>
									</a>
									<ul class="nav lt">
										<li>
											<a href="/reports/index/4e98407d-3c79-4824-8f15-df0a185ccb5b">
												<i class="fa fa-angle-left"></i><span>ثبت گزارش روزانه</span>
											</a>
										</li>

										<li>
											<a href="/reports/index/97726369-F623-4FD7-89BD-E3D20A2F4814">
												<i class="fa fa-angle-left"></i><span>ثبت گزارش هفتگی</span>
											</a>
										</li>

										<li>
											<a href="/reports/index/0fe17770-6878-45e2-af7e-a515627ae9c6">
												<i class="fa fa-angle-left"></i><span>ثبت گزارش ماهانه</span>
											</a>
										</li>

									</ul>
								</li>



								<li id="blogLi" class="menuitem">
									<a href="#">
										<i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>گزارش حوادث</span>
									</a>
									<ul class="nav lt">
										<li>
											<a href="/Accidents/create">
												<i class="fa fa-angle-left"></i><span>ثبت گزارش حادثه جدید	</span>
											</a>
										</li>

										<li>
											<a href="/Accidents">
												<i class="fa fa-angle-left"></i><span>آرشیو گزارشات	</span>
											</a>
										</li>

						 

									</ul>
								</li>

								<li class="menuitem"><a href="/ContractRquirments"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>ثبت گزارش WBS</span></a></li>

							<li class="menuitem"><a href="/WbsRequirments/Details"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>الزامات پشتیبان WBS HSE & PD </span></a></li>
						}
					}
				</ul>
			</nav>
		</div>
	</section>
</section>
